/* * {
  border: 1px solid black !important;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  margin: 10px 20px !important;
  text-align: center;
  font-weight: bold !important;
  color: #555;
}

.profileName {
  font-size: 15px;
}

.profileId {
  font-size: 13px;
  color: #888;
}

.grayHover {
  background-color: transparent;
}
.grayHover:hover {
  background-color: #eee;
}
.follow {
  color: white;
}
.follow:hover {
  background-color: #eee;
  color: black;
}

.navMenu {
  margin: 10px;
}

.navMenu.active {
  margin: 10px;
  font-weight: bold;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 99;
}

.inline {
  display: "inline !important";
}
